.main {
  margin-top: 4rem;
  flex: 1;
  padding: 1rem;
}

/* Search Section */
.search {
  min-height: 2rem;
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.search__input,
.search__select {
  width: auto;
  height: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  outline: none;
}

/* Products Section */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

/* Product Card */
.product {
  max-width: 350px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.product__image {
  height: 200px;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.product__description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.product__description h2 {
  font-size: 1.1rem;
  font-weight: 900;
}

.product__description > p {
  font-size: 0.8rem;
  font-weight: 600;
}

.product__description__categories h3 {
  font-size: 0.8rem;
  font-weight: bold;
}

.product__description__categories p {
  display: inline-block;
  font-size: 0.7rem;
  background-color: var(--secondary-color);
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.product__description__price {
  font-size: 1rem;
  font-weight: 700;
  align-self: flex-end;
}

.product__button {
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: 1rem;
  padding: 0.5rem;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.product__button:hover {
  background-color: var(--secondary-color);
}

.product__button svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* media queries */

@media (max-width: 480px) {
  .search__input,
  .search__select {
    width: 300px;
  }
}
