.market {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.products__container {
  position: relative;
  margin-top: 4rem;
  flex: 1;
}

/* Search Section */

.search {
  position: sticky;
  top: 4rem;
  left: 0;
  right: 0;
  background-color: var(--light-color);
  min-height: 2rem;
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  z-index: 100;
}

.search__input,
.search__select {
  width: auto;
  height: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  outline: none;
}

/* Products Section */

.products {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

/* media queries */

@media (max-width: 480px) {
  .search {
    position: static;
  }
  .search__input,
  .search__select {
    width: 300px;
  }
}
