.products {
  max-width: 1200px;
  flex: 1;
  margin: 4.5rem auto 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}


@media (max-width: 480px) {
  .products {
    margin-top: 0;
  }
}