.orderSummary {
  margin-top: 4rem;
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderSummary__title {
  margin-top: 2rem;
}

.orderSummary__container {
  max-width: 800px;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
